.container
{
    background-color: grey;
    display : flex;
    flex-direction: column;
}

.Main-container
{
    background-color:  rgb(88, 88, 90);
    display : flex;
    justify-content: space-evenly
}  

/* .button
{
    width : 10px;
} */

/* .Main-container>.singlePokename
{
    background-color: red;
    border-style: double;
} 

.singlePokename
{
    border: 5px solid green;
} */

/* .Pokeabilities
{
    display : flex;
} */